// colors

$color-1: #3d3536; // brown
$color-2: #99a478; // green dark
$color-3: #b4d7a8; // green light
$color-4: #ffffff; // white
$color-5: #7291d8; // title blue
$color-6: #2C333A; // 紺
$color-8: #2c333a; // link color blue

// header height 
$header-height-S: 50px;
$header-height-M: 70px;


// z-index
$main-elements: main-content, navigation;
$bg-elements: fixed-bg, scrolling-bg;

$header-zindex: 2;
$modal-zindex: 3;


