@import "../partials/layout";
@import "../partials/variables";
@import "../partials/mixins";
/* ------------------------
TABLE OF CONTENTS : 
------------------------ 
1. ロゴ 
2. ナビゲーション
3. ブランドイメージ section


------------------------  */



/* ------------------------
1. ブランド　ロゴ 
------------------------  */

.brand-logo {
  margin-top:1%;
}

/* ------------------------
1. ナビゲーション
------------------------  */
nav {
  position:fixed;
}
nav .dark-gray li a {
  color:#555;
}


/* ------------------------
3. ブランドイメージ section
------------------------  */
/*.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
} */

nav {
  z-index:2;
}
.cd-fixed-bg {
  position:relative;
  min-height: 100%;
  background-size:cover; 
  background-repeat:no-repeat;
  background-position: center center; 
  
  &.cd-bg-1 {
  background-image: url('../background2.jpg');
  z-inde:1;
  }

  @include MQ(S) {
    .cd-main-title {
      background-color: #EC6D63;
        color: #ffffff;
        display: block;
        padding: 7px;
      font-size: 1.2rem;
      font-weight:bold;
      width:250px;
    }
  }
  @include MQ(M) {
     h1, h2 {
      font-size: 36px;
    }
    .cd-main-title {
      background-color: #EC6D63;
        color: #ffffff;
        display: block;
        padding: 9px;
      font-size: 1.4rem;
      font-weight:bold;
      width:300px;
    }
  }
  @include MQ(L) {
    background-attachment: fixed;

    h1, h2 {
      font-size: 48px;
      font-weight: 300;
    }
    .cd-main-title {
      background-color: #EC6D63;
        color: #ffffff;
        display: block;
        padding: 9px;
      font-size: 1.4rem;
      font-weight:bold;
      width:300px;
    }
  }
}

.cd-scrolling-bg {
  position:relative; 
  min-height: 100%;
  padding:4em 0; 
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(#000, .5); 
  z-index: index($bg-elements, scrolling-bg);

  &.cd-color-1 {
    background-color:$color-1;
    color: lighten($color-1, 40%); 
  }

  &.cd-color-2 {
    background-color:$color-2;
    color:$color-1;
  }

  &.cd-color-3 {
    background-color: $color-3;
    color:$color-1;
  }

  &.cd-color-5 {
    background-color:$color-5;
  }
  &.cd-color-6 {
    background-color: $color-6;
    color:$color-4;
  }

  @include MQ(M) {
    padding:8em 0; 
    @include font-size(20px);
    line-height: 2;
    font-weight:300;
  }
}
